.tailwind {
    background-color: #464686;
}

.react {
    background-color: #0784ae;
}

.css {
    background-color: #446;
}

.sass {
    background-color: #998099;
}

.framer-motion {
    background-color: #242424;
}

.supabase {
    background-color: #1c1c1c;
}

.three-js {
    background-color: #ff0;
    color: #121212;
}

.next-js {
    background-color: #111;
    color: #eee;
}

.gsap {
    background-color: #0e100f;
    color: #eee;
}
